#header{
	padding-bottom: 10px;
	margin-top: 10px;
}
#header h1{
	width: 212px;
	height: 75px;
	float:left;
	margin:15px 60px 0 0;
}

#header #search{
	width: 501px;
	overflow: hidden;
	float:left;
	margin:10px;
}
#header #search form{
	background-color: #D93600;
	position: relative;
	height: 36px;
	padding: 3px;
}
#header #search form #keyWord{
	line-height: 24px;
	color: #555;
	width: 82%;
	height: 24px;
	float: left;
	padding: 6px 1%;
	border: none 0;
}
#header #search form #subBtn{
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    background-color: transparent;
    width: 15%;
    height: 36px;
    float: right;
    border: none;
    cursor: pointer;
}
#header #search .hotSearch li{
	float:left;
	padding:5px;
}
#header #search .hotSearch li a{
	color:#777;	
}
#header #search .hotSearch .hot{
	color:#D93600;
}
#header #search .hotSearch li:hover .hot{
	color:#D93600;
	text-decoration: underline;
}
#header #search .hotSearch li:hover a{
	text-decoration: underline;
	color:#f00;
}

#header .user-menu{
	float:right;
	padding-right: 10px;
}
#header .user-menu dl{
	float:left;
	margin-left: 10px;
}
#header .user-menu dl.cart span{
	background: url("../img/top_bg.png") no-repeat;
	background-position: -120px 0;
	margin-right: 8px;
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 16px;
}
#header .user-menu dl.cart i{
	background: url("../img/cart_bg.png") no-repeat center;
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 16px;
	transition: all 0.2s;	
}
#header .user-menu dl.cart:hover i{
	transform: rotate(180deg);
}
#header .user-menu dl.cart:hover dt{
	background: #fff;
}
#header .user-menu dl.cart dt{
	border: 1px solid #f0f0f0;
	background:#fafafa;
	padding:10px 8px;
	color:#666;
}
#header .user-menu dl.cart dd{
	width:384px;
	background-color:lavenderblush;
	display: none;
	border: solid 1px #F0F0F0;
	position: absolute;
	z-index: 10;
	top: 148px;
	right: 206px;
}
#header .user-menu dl.cart:hover dd{
	display: block;
}
#header .user-menu dl.cart dd .cart-title{
	line-height: 28px;
	height: 28px;
	padding: 7px;
	color:#666;
	border-bottom: solid 1px #DDD;	
}
#header .user-menu dl.cart dd .goods-box{
	display: block;
	width: 348px;
	max-height: 267px;
	overflow: hidden;
	position: relative;	
}
#header .user-menu dl.cart dd .goods-box .inCartGoods{
	text-align: center;
	width: 100%;
}
#header .user-menu dl.cart dd .goods-box .inCartGoods img{
	width: 16px;
	height: 16px;
	margin: 20px auto;	
}
#header .user-menu dl.cart dd .checkOut{
	background-color: #F0F0F0;
	text-align: right;
	padding: 8px;
	overflow: visible;
}
#header .user-menu dl.cart dd .checkOut span{
	line-height:20px;
	background: #F0F0F0;
	display: block;
	width: 100%;
}
#header .user-menu dl.cart dd .checkOut span i{
	background: #F0F0F0;
	font-weight: bold;
	color: #C00;
	margin: 0;
	padding: 0 0 5px 0;
	text-align:center;
	transform: none;
	display: inline-block;
	vertical-align: middle;
}
#header .user-menu dl.cart dd .checkOut a{
	clear: both;
	line-height: 20px;
	color: #FFF;
	background-color: #D93600;
	padding: 4px 8px;
	margin-top: 10px;
	border-radius: 4px;
	display: inline-block;
	text-decoration: none;
}
#header .user-menu dl .qrCode{
}
#header .user-menu dl .qrCode img{
	width: 75px;
	height:75px;
}



#nav .category{
	display: none;
}
#nav .all-category:hover .category{
	display: block;
}
#main .classList li{
	float:left;
	padding:10px 0;
}
#main .classList li a{
	color:#666;
}
#main .classList li a.om{
	color:#999;
}
#main .classList li i{
	display:inline-block;
	vertical-align: middle;
	width:18px;
	height:18px;
    font-size: 14px;
    color: #AAA;
    margin-right: 4px;
    text-align: center;
}

#main .mtop .mtop-l{
	width: 208px;
	float:left;	
}

#main .mtop .mtop-l .l-t{
	border:1px solid #c8c8c8;
}
#main .mtop .mtop-l .l-t h3{
	border-top: 1px solid #c8c8c8;
	background: #f5f5f5;
	font: normal 14px/20px "microsoft yahei";
	color: #333;
	height: 20px;
	padding: 8px 10px;
}

#main .mtop .mtop-l .l-t dl{
	padding: 5px 10px;
}
#main .mtop .mtop-l .l-t dl ul dd{
	padding: 5px 18px;
}
#main .mtop .mtop-l .l-t dl dd ul{
	padding: 5px 10px;
}
#main .mtop .mtop-l .l-t dl dt i{
    background: url("../img/shop_bg.png") no-repeat -11px 0;
	vertical-align: middle;
	display: inline-block;
	width: 11px;
	height: 11px;
	margin-right: 5px;
}
#main .mtop .mtop-l .l-t dl a{
	color:#555
}
#main .mtop .mtop-l .l-t dl a.aOn{
	color:#f00;
}



#main .mtop .mtop-l .l-m{
	border:1px solid #c8c8c8;
	margin-top:10px;
}
#main .mtop .mtop-l .l-m h3{
	border-top: 1px solid #c8c8c8;
	background: #f5f5f5;
	font: normal 14px/20px "microsoft yahei";
	color: #333;
	height: 20px;
	padding: 8px 10px;
}
#main .mtop .mtop-l .l-m li{
	text-align: center;
	padding:0 20px;
}
#main .mtop .mtop-l .l-m li img{
	max-width: 120px;
	max-height: 120px;
	margin:30px 0 10px;

}
#main .mtop .mtop-l .l-m li a{
	display: inline-block;
	margin-bottom: 10px;
	color:#00549D;
}
#main .mtop .mtop-l .l-m li a:hover{
	color:#f00;
	text-decoration: underline;
}	
#main .mtop .mtop-l .l-m li span{
	display: inline-block;
	margin-bottom:10px;
	color:#f00;
	font:bold 14px/20px "";
}
#main .mtop .mtop-l .ad{
	margin-top:10px;
	text-align: center;
}

#main .mtop .mtop-l .ad img{
	width: 200px;
	height: 350px;
}

#main .mtop .mtop-l .l-b{
	border:1px solid #c8c8c8;
	margin-top:10px;
}
#main .mtop .mtop-l .l-b h3{
	border-top: 1px solid #c8c8c8;
	background: #f5f5f5;
	font: normal 14px/20px "microsoft yahei";
	color: #333;
	height: 20px;
	padding: 8px 10px;
}
#main .mtop .mtop-l .l-b li{
	text-align: center;
	padding:0 20px;
}
#main .mtop .mtop-l .l-b li img{
	max-width: 120px;
	max-height: 120px;
	margin:30px 0 10px;

}
#main .mtop .mtop-l .l-b li a{
	display: inline-block;
	margin-bottom: 10px;
	color:#00549D;
}
#main .mtop .mtop-l .l-b li a:hover{
	color:#f00;
	text-decoration: underline;
}	
#main .mtop .mtop-l .l-b li span{
	display: inline-block;
	margin-bottom:10px;
	color:#f00;
	font:bold 14px/20px "";
}

#main .mtop .mtop-r{
	float:right;
	width:982px;
}
#main .mtop .mtop-r .navBox{
	position: relative;
	background: #F7F7F7;
	display: block;
	height: 36px;
	border: solid 1px #D7D7D7;
}
#main .mtop .mtop-r .navBox dl{
	float:left;
	font: 12px/36px "microsoft yahei";
	color: #777;
	padding: 0 0 0 10px;
	margin-right: 10px;
}
#main .mtop .mtop-r .navBox dt{
	float:left;
	border-right: solid 1px #D7D7D7;
	padding:0 10px;
}
#main .mtop .mtop-r .navBox dl dd i{
	background: url("../img/shop_bg.png") no-repeat 0 -11px;
	vertical-align: middle;
	display: inline-block;
	width: 7px;
	height: 8px;
	margin-left: 4px;
}
#main .mtop .mtop-r .navBox dd{
	float:left;
	border-right: solid 1px #D7D7D7;
	padding:0 10px;
}
#main .mtop .mtop-r .navBox dl.noBorder dd{
	border:0;
}
#main .mtop .mtop-r .navBox dl.noBorder dt{
	border:0;
}
#main .mtop .mtop-r .navBox dl dd a{
	font: normal 12px/16px "microsoft yahei";
	color: #AAA;
	background-color: #FAFAFA;
	text-align: center;
	display: block;
	min-width: 16px;
	padding: 2px 6px;
	border: 1px solid #E6E6E6;
	margin: 7px 0;
	
}

#main .mtop .mtop-r .goodsList{
	margin-top:20px;
	position: relative;
}
#main .mtop .mtop-r .goodsList li.ps{
	border:1px solid #898989;
	padding:1px;
	width:226px;
	overflow: hidden;
	position: absolute;
	top:0;
}
#main .mtop .mtop-r .goodsList li .img{
	
}

#main .mtop .mtop-r .goodsList li .img dl{
	position: relative;
	padding:10px;
}
#main .mtop .mtop-r .goodsList li .img dl dt{
	text-align: center;
	

}
#main .mtop .mtop-r .goodsList li .img dl dt img{
	max-width:200px;
	max-height:200px;
}
#main .mtop .mtop-r .goodsList li .img dl dd{
	position: relative;
	top: 10px;
}
#main .mtop .mtop-r .goodsList li .img dl dd img{
	max-width:40px;
	max-height:40px;
	display: inline-block;
	border:1px solid #e6e6e6;
}



#main .mtop .mtop-r .goodsList li .more-ms{
	position:relative;
	top:0;
	height:56px;
	overflow: hidden;
	
	
}
#main .mtop .mtop-r .goodsList li .more-ms li{
	border:0px;
	text-align: center;
	margin-top: 5px;
}
#main .mtop .mtop-r .goodsList li .more-ms li span{
	color:#f00;
	font:bold 14px/20px "";
}
#main .mtop .mtop-r .goodsList li .more-ms li a{
	color:#00549D;
}
#main .mtop .mtop-r .goodsList li .more-ms li em{
	
}
#main .mtop .mtop-r .goodsList li .more-ms li i{
	font:bold 12px/20px "";
	color:#999;
	text-decoration: line-through;
}
#main .mtop .mtop-r .goodsList li .more-ms li .kf span{
	display: block;
	float: left;
	border:1px solid #898989;
	margin-left:14px;
	padding:5px;
}
#main .mtop .mtop-r .goodsList li .more-ms li .kf span a{
	display: block;
	color:#B57C5B;
}
#main .mtop .mtop-r .goodsList li .more-ms li .kf span strong{
	display: block;
	color:#555;
	font: normal 12px/20px "";
}
#main .mtop .mtop-r .goodsList li .more-ms li h3{
	background:#f5f5f5;
	font:12px/20px "";
	padding:10px;
}

#main .mtop .mtop-r .goodsList li .more-ms li b{
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #F5CDBF;
	text-shadow: -2px 0 0 rgba(0,0,0,0.05);
	background-color: #D93600;
	text-align: center;
	display: block;
	height: 20px;
	padding: 5px 0;	
}



.page{
	position: absolute;
	left:628px;
	top:2452px;

}

.page li{
	float: left;
	margin-left: 20px;
	border: 1px solid #898989;
	background: #fff;
	font:14px/30px "";
	width: 50px;
	text-align: center;
	cursor: pointer;
}
.page li.pageOn{
	background:#f00;
	color:#fff;
}


#footer{
	top: 680px;
}
