
.wid-1200{
	position: relative;
}
.slideBox{
	position: relative;
}
.slideImg{
	position: absolute;
	top:0;
	left:212px;
	height:400px;
}
.toLeft{
	position: absolute;
	background:url("../img/home_bg.png") no-repeat 0 -100px;
 	width: 45px;
    height: 100px;
    z-index: 8;
    top: 160px;
    cursor: pointer;
    left: 214px;
    display: none;
    opacity: 0.3;
    filter:alpha(opactiy=30);
}
.toRight{
	position: absolute;
	background:url("../img/home_bg.png") no-repeat -45px -100px;
	width: 45px;
	height:100px;
	z-index: 8;
    top: 160px;
    cursor: pointer;
    left: 944px;
    display: none;
    opacity: 0.3;
    filter:alpha(opactiy=30);
}
.slideImg li{
	position: absolute;
	opacity: 0.1;
}
.slideImg .z_index{
	z-index: 7;
	opacity: 1;
}

.fSpan{
	position: absolute;
	z-index: 8;
	top:380px;
	left:730px;
}
.fSpan .spanOn{
	background: #f00;
}
.fSpan span{
	display: inline-block;
	width:30px;
	height:6px;
	margin-left: 5px;
	background: #555;
	cursor: pointer;
}


.tips{
	position: absolute;
	z-index: 8;
	left:988px;
	border: 1px solid #f00;
	text-align: left;
	background: #fff;
	border:1px solid #F0F0F0;
	width:210px;
}
.tips h3{
	font:bold 14px/150% Arial,Verdana,"宋体";
	color: #555;
	padding: 6px 5px;
}
.tips ul{
	border-top:1px dashed #F0F0F0;
	border-bottom:1px dashed #F0F0F0;
	padding-top:10px;
}
.tips .notice li{
	line-height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 20px;
	padding: 5px 0;
	overflow: hidden;
	width:202px;
	padding:0 5px;
}
.tips .notice li i{
	background: url("../img/home_bg.png") no-repeat -70px -40px;
	vertical-align: middle;
	display: inline-block;
	width: 2px;
	height: 2px;
	margin-right: 6px;
}
.tips .notice li a{
	color:#898989;
}
.tips .notice li time{
	color:#898989;
}
.tips .notice li a:hover{
	text-decoration: underline;
}

.tips .dcheck input{
	display:block;
	border:1px solid #ccc;
	width: 190px;
	height: 18px;
	padding: 4px;
	outline: medium none;
	margin:0 5px 5px 5px;
	background:#fff;
}
.tips .dcheck input.submit{
	background:rgb(245, 245, 245) none repeat scroll 0% 0%;
	color:gray;
	cursor: pointer;
}
.tips .life ul{
	border-bottom: 0;
}
.tips .life li{
	float:left;
	padding:0 20px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding-bottom: 6px;
}
.tips .life li a{
	color:#898989;
}
.tips .life img{
	display: block;
	margin: 6px 0;
	border:0;
	width:25px;
	height:25px;
}
.tips .life li:hover a{
	color: #f00;
}


.sale{
	position: relative;
	top: 400px;
	left: 0;
}
.sale .sale-t li{
	float:left;
	padding:10px 20px;
	margin: 10px 0;
	text-align: center;
}
.sale .sale-t li a{
	font-size: 14px;
	color:#555;
}
.sale .sale-t li a:hover{
	color: #f00;
	text-decoration: underline;
}
.sale .sale-t .t-img li{
	padding:13px;
	border-top: 1px solid #d0d0d0;
	margin:2px;
	width: 167px;
	height: 210px;
	border-right:1px solid #fff;
	border-left:1px solid #fff;
	border-bottom: 1px solid #fff;
	position: relative;
}
.sale .sale-t .t-img li a{
	font-size: 12px;
}
.sale .sale-t .t-img li img{
	position: relative;
	top:0px;
	left:0px;
	display: block;
	border: 0;
	max-height: 160px;
	max-width: 160px;
	margin-bottom: 5px;
	transition: all 0.2s;
	border:0;
}
.sale .sale-t .t-img li:hover{
	border: 1px solid #f00;
}
.sale .sale-t .t-img li:hover a{
	color:#f00;
}
.sale .sale-t .t-img li span{
	display: block;
	color:#f00;
	font-size: 14px;
	font-weight: bold;
	padding:10px;
}
.sale .sale-b{
	padding:10px 0;
	margin-top: 10px;
	border-top: 1px solid #d0d0d0;
}
.sale .sale-b li{
	float: left;
}

.show{
	position: relative;
	top:400px;
	width:100%;
}
.show .show-title{
	border-bottom: 1px solid #f00;
	height:40px;
}
.show .show-title .pic-type {
	margin-top: 10px;
}
.show .show-title img{
	max-width: 210px;
	max-height:40px;
	margin: 0 1px;
}
.show .show-title .t-nav{
	margin-top: 10px;
	margin-left: 622px;
}
.show .show-title .t-nav li{
	float: left;
	padding: 12px 0px 0;
	color: #7C7C7C;
	margin-left: 14px;
	font-size: 12px;
}
.show .show-title .t-nav li.t-navOn{
	color: #DB3600;
}
.show .show-title .more{
	margin-left: 30px;
	margin-top: 10px;
	padding: 12px 10px 0;
}
.show .show-title .more a{
	color: #555;
	font-size: 12px;
}
.show .show-title .more a:hover{
	color: #f00;
	text-decoration: underline;
}

.show .show-m .m-l{
	width: 340px;
	height: 498px;
	margin-top: 10px;
	float: left;
}
.show .show-m .m-l a img{
	max-width: 340px;
	max-height: 498px;
}
.show .show-m .m-r{
	width: 850px;
	height: 500px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}


.show .show-m .m-r div.listOn{
	display: block;
}

.show .show-m .m-r .list1{
	display: none;
}
.show .show-m .m-r .list1 li{
	float: left;
	overflow:hidden;
	height:240px;
	width:406px;
	margin:0px 0px 18px 18px;
	position: relative;
}
.show .show-m .m-r .list1 li img{
	display: block;
	border: 0;
	position: absolute;
	top: 0;
	left: -52px;
}


.show .show-m .m-r .list2{
	display: none;
}
.show .show-m .m-r .list2 dl{
	float:left;
	width: 190px;
	height: 210px;
	border-right:1px solid #898989;
	border-bottom:1px solid #898989;
	text-align: center;
	padding:19px 10px;
} 
.show .show-m .m-r .list2 dl dt{
	position: relative;
}
.show .show-m .m-r .list2 dl dt img{
	max-height: 160px;
	max-width: 160px;
	display: block;
	margin:0 auto;
	position: relative;
	top: 0;
	left: -6px;	
}

.show .show-m .m-r .list2 dl:hover{
	background: #ecf0f1;
}
.show .show-m .m-r .list2 dl:hover a{
	color:#f00;
}
.show .show-m .m-r .list2 dl dd a{
	font-size: 12px;
	color: #555;
}
.show .show-m .m-r .list2 dl dd a:hover{
	text-decoration: underline;
}
.show .show-m .m-r .list2 dl dd span{
	display:inline-block;
	color:#f00;
	font-size: 14px;
	font-weight: bold;
	padding:5px;
}
.show .show-m .m-r .list2 dl dd i{
	display:inline-block;
	color:#999;
	font-size: 14px;
	padding:5px;
	text-decoration: line-through;
}


.show .show-m .m-r .list3{
	display: none;
}
.show .show-m .m-r .list3 dl:hover{
	background: #ecf0f1;
}
.show .show-m .m-r .list3 dl:hover a{
	color:#f00;
}
.show .show-m .m-r .list3 dl{
	float:left;
	width: 190px;
	height: 210px;
	border-right:1px solid #898989;
	border-bottom:1px solid #898989;
	text-align: center;
	padding:19px 10px;
} 
.show .show-m .m-r .list3 dl dt{
	position: relative;
}
.show .show-m .m-r .list3 dl dt img{
	max-height: 160px;
	max-width: 160px;
	display: block;
	margin:0 auto;
	position: relative;
	top: 0;
	left: -6px;	
}
.show .show-m .m-r .list3 dl dd a{
	font-size: 12px;
	color: #555;
}
.show .show-m .m-r .list3 dl dd a:hover{
	text-decoration: underline;
}
.show .show-m .m-r .list3 dl dd span{
	display:inline-block;
	color:#f00;
	font-size: 14px;
	font-weight: bold;
	padding:5px;
}
.show .show-m .m-r .list3 dl dd i{
	display:inline-block;
	color:#999;
	font-size: 14px;
	padding:5px;
	text-decoration: line-through;
}


.show .show-m .m-r .list4{
	display: none;
}
.show .show-m .m-r .list4 dl:hover{
	background: #ecf0f1;
}
.show .show-m .m-r .list4 dl:hover a{
	color:#f00;
}
.show .show-m .m-r .list4 dl{
	float:left;
	width: 190px;
	height: 210px;
	border-right:1px solid #898989;
	border-bottom:1px solid #898989;
	text-align: center;
	padding:19px 10px;
} 
.show .show-m .m-r .list4 dl dt{
	position: relative;
}
.show .show-m .m-r .list4 dl dt img{
	max-height: 160px;
	max-width: 160px;
	display: block;
	margin:0 20px;
	position: relative;
	top: 0;
	left: -6px;	
}
.show .show-m .m-r .list4 dl dd a{
	font-size: 12px;
	color: #555;
}
.show .show-m .m-r .list4 dl dd a:hover{
	text-decoration: underline;
}
.show .show-m .m-r .list4 dl dd span{
	display:inline-block;
	color:#f00;
	font-size: 14px;
	font-weight: bold;
	padding:5px;
}
.show .show-m .m-r .list4 dl dd i{
	display:inline-block;
	color:#999;
	font-size: 14px;
	padding:5px;
	text-decoration: line-through;
}

.show .show-b{
	padding-bottom: 10px;
}
.show .show-b li{
	float:left;
	height: 50px;
	margin: 5px;
	width: 108px;
	border: 1px solid #DFDFDF;
}
.show .show-b li a{
	height: 100%;
	width: 100%;
}
.show .show-b li a img{
	height: 100%;
	width: 100%;
}
.show .b-img{
}
.show .b-img img{
	max-height: 95px;
	margin: 0 auto 20px;
	display: block;
	border: 0;
}


#help{
	position: relative;
	top: 400px;
	background:#FAFAFA;
	border-bottom: 1px solid #F5F5F5;
	border-top: 1px solid #F5F5F5;
	height:220px;
}
#help .help1{
	float: left;
	margin-right: 20px;
}
#help .help1 h3{
	font: 16px/20px "microsoft yahei";
	color: #666;
	padding: 10px 5px;
	margin: 5px 0px;
	border-bottom: 1px solid #F5F5F5; 
}
#help .help1 i{
	font-size: 0px;
	line-height: 0;
	background: url("../img/top_bg.png") no-repeat scroll -80px -10px transparent;
	vertical-align: middle;
	display: inline-block;
	width: 3px;
	height: 3px;
	margin-right: 5px;
}
#help .help1 li {
	font: 12px/20px "microsoft yahei";
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 2px 5px;
	overflow: hidden;
	width: 180px;
}
#help .help1 li a{
	color: #333;
}
#help .help1 li a:hover{
	text-decoration: underline;
}

#help .help2{
	float: left;
	background: #fff;
	border-left: 1px solid #f5f5f5;
	height: 200px;
	padding: 10px;
}
#help .help2 h3{
	font: 16px/20px "microsoft yahei";
	color: #666;
	padding: 10px 5px;
	margin: 5px 0px;
	border-bottom: 1px solid #F5F5F5; 
}
#help .help2 li {
	font: 12px/20px "microsoft yahei";
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 2px 5px;
	overflow: hidden;
	width: 180px;
	color: #666;
}
#help .help2 li a:hover{
	text-decoration: underline;
}


#help .help3{
	float: left;
	background: #fff;
	border-left: 1px solid #f5f5f5;
	height: 200px;
	padding: 10px;
	width: 126px;
}
#help .help3 h3{
	font: 16px/20px "microsoft yahei";
	color: #666;
	padding: 10px 5px;
	margin: 5px 0px;
	border-bottom: 1px solid #F5F5F5; 
}
#help .help3 li {
	font: 16px/20px "microsoft yahei";
	padding: 2px 5px;
	text-align: center;
	color: #666;
}
#help .help3 li img{
	width:80px;
	height: 80px;
}
#help .help3 h3 a{
	color:#666;
}
#help .help3 h3 a:hover{
	color:#f00;
	text-decoration: underline;
}

#link{
	padding-top: 10px;
	position: relative;
	top:400px;
	border-top: 1px solid #f2f2f2;
}
#link li{
	float: left;
	margin: 5px;
	padding-bottom: 5px;
}
#link li a{
	color: #555;
}
#link li a:hover{
	color: #f00;
	text-decoration: underline;
}

#stair{
	position: fixed;
	left:20px;
	top:50%;
	margin-top:-150px;
	border:1px solid #666;
	padding: 1px;
	display: none;
}
#stair li{
	position: relative;
	width: 60px;
	height:50px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	background: #f12345;
	color:#fff;
}
#stair li span{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	top:0;
	font-size: 12px;
	border-top: 1px solid #f00;
	border-bottom: 1px solid #f00;
	
}
#stair li:hover span{
	display: block;
	background:#fff;
	color:#f00;
	border-top: 1px solid #f00;
	border-bottom: 1px solid #f00;
	
}
#stair li .stairOn{
	display: block;
	background:#fff;
	color:#f00;
	width: 100%;
	height: 100%;
	top:0;
	font-size: 12px;
	position: absolute;
	border-top: 1px solid #fff;
}
