#footer{
	text-align:center;
	top: 400px;
	position: relative;
	
}
#footer .wid-1200{
	
	position: relative;
}
#footer .wid-1200 .foot{
	
}
#footer li{
	color: #777;
	margin-top: 10px;
	font:12px/150% "";
}
#footer li a{
	color: #777;
}
#footer li .red{
	color: red;
}
#footer li a:hover{
	text-decoration: underline;
}
#footer li span{
	font-size:18px;
	display: inline-block;
	vertical-align: middle;
}
#footer .toTop{
	position: absolute;
	top:10px;
	right: 10px;
	display: inline-block;
}
#footer .toTop a{
	color:#777777;
}
#footer .toTop a:hover{
	text-decoration: underline;
}
#footer .toTop em{
	display: inline-block;
	width:10px;
	height: 10px;
	background:url("../../img/totop_bg.png") no-repeat center;
	vertical-align: middle;
}
#footer .cxlogo{
	margin-top:20px;
}
#footer .cxlogo img{
	width: 130px;
	height: 47px;
}
